[submodule "third_party/jslib"]
	path = third_party/jslib
	url = https://github.com/caesarfeta/jslib
[submodule "third_party/three.js"]
	path = third_party/three.js
	url = https://github.com/mrdoob/three.js
[submodule "squish"]
	path = squish
	url = https://github.com/caesarfeta/squish
